@model Futebol.Models.ViewModels.CampeonatoFormViewModel

@{
    ViewData["Title"] = "Criar Novo";
}

<h2>@ViewData["Title"]</h2>

<h4>Campeonato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Campeonato.Nome" class="control-label">Nome</label>
                <input asp-for="Campeonato.Nome" class="form-control" />
                <span asp-validation-for="Campeonato.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campeonato.DataInicio" class="control-label">Data Início</label>
                <input asp-for="Campeonato.DataInicio" class="form-control" />
                <span asp-validation-for="Campeonato.DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campeonato.DataFim" class="control-label">Data Fim</label>
                <input asp-for="Campeonato.DataFim" class="form-control" />
                <span asp-validation-for="Campeonato.DataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campeonato.Tipo" class="control-label">Tipo do Campeonato</label>
                <input asp-for="Campeonato.Tipo" class="form-control" />
                <span asp-validation-for="Campeonato.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Campeonato.Valor" class="control-label">Valor do Campeonato</label>
                <input asp-for="Campeonato.Valor" class="form-control" />
                <span asp-validation-for="Campeonato.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a class="btn btn-default" asp-controller="Campeonato" asp-action="Index" role="button">Voltar</a>
            </div>
        </form>
    </div>
</div>
